<div style="text-align: center; font-size: 2em; color: #696969">Sistema de Sorteios V1</div>
<div style="padding: 0 20px">
  <p>
    <b>Quantidade de soteios realizados: </b> {{sorteios.length}}
  </p>
  <p>
    <b>Quantidade de processos sorteados: </b> {{qtdeProcessos}}
  </p>
</div>
<div style="display: flex; justify-content: space-between">
  <div >
    <div style="font-size: 1.5em; padding: 0 20px; margin-bottom: 20px;">Diretorias</div>
    <table class="tb_diretoria_principal" >
      <thead>
      <tr>

        <th>Nome</th>
        <th>Proporção Esperada</th>
        <th>Proporção Real</th>
        <th>Total Processos Recebidos</th>
        <th>Total de Processo Relativos</th>
        <th>Desbalanceamento Relativo</th>
        <th>Limpar Processos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let diretoria of diretorias">
        <td>{{diretoria.nome}}</td>
        <td>{{diretoria.proporcao}} %</td>
        <td>{{diretoria.proporcaoReal}}</td>
        <td>{{diretoria.processosRecebidos}}</td>
        <td>{{diretoria.totalProcessoRelativo}}</td>
        <td>{{diretoria.desbalanceamentoQuantitativo}}</td>
        <td><button type="button" (click)="limparProcessos(diretoria)">Limpar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="padding: 0 20px; margin-top: 20px;">
  <h3>Sorteios</h3>
  <button type="button" (click)="comecarSorteio()">Começar novo sorteio</button>
  <form *ngIf="isDrawing" style="margin-top: 20px">
    <div>
      <label>Quantidade de Processos</label>
      <input name="qtde" [(ngModel)]="sorteio.qtdeProcessos" style="margin-left: 20px" />
    </div>
    <div style="margin-top: 20px;">
      <table  class="tb_diretoria_secundaria">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Participa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let diretoria of diretorias">
          <td>{{diretoria.nome}}</td>
          <td>
            <input type="checkbox" (click)="check(diretoria)" [checked]="diretoria.checked" />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)="sortear()" style="margin-top: 20px">Sortear</button>
    </div>
  </form>
  <div *ngIf="done" style="margin-top: 40px">
    <h3>Resultado do Sorteio: {{sorteio.id}}</h3>
    <table class="tb_diretoria_secundaria">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Número de processos recebidos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let diretoria of sorteio.diretorias">
        <td>{{diretoria.nome}}</td>
        <td>{{diretoria.processosRecebidos}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="padding: 0 20px; margin-top: 20px;">
  <h3>Histórico</h3>
  <button (click)="showHistory = !showHistory">{{showHistory ? 'Esconder Histórico' : 'Mostrar Histórico'}}</button>
  <div *ngIf="showHistory">

    <div style="display: flex; justify-content: space-between" *ngFor="let diretoriaList of diretoriaHistoricoList; let i = index;">
      <div >
        <div style="font-size: 1.5em; margin-bottom: 40px; margin-top: 40px">Situação no Sorteio: {{i + 1}}</div>
        <table class="tb_diretoria_principal" style="padding: 0!important;" >
          <thead>
          <tr>

            <th>Nome</th>
            <th>Proporção Esperada</th>
            <th>Proporção Real</th>
            <th>Total Processos Recebidos</th>
            <th>Total de Processo Relativos</th>
            <th>Desbalanceamento Relativo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let diretoria of diretoriaList">
            <td>{{diretoria.nome}}</td>
            <td>{{diretoria.proporcao}} %</td>
            <td>{{diretoria.proporcaoReal}}</td>
            <td>{{diretoria.processosRecebidos}}</td>
            <td>{{diretoria.totalProcessoRelativo}}</td>
            <td>{{diretoria.desbalanceamentoQuantitativo}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
